.div-header {
	padding-left: var(--section-header-padding);
}

body{
	background:no-repeat url("background-home.jpg");
	background-size: 100%;
	margin: 0px;
}

header{
	color: black;
	text-align: center;
}

div{
	color: black;
}

#manutech-logo{
	border-radius: 50px;
}

#introduction{
	font-family: "Inder", sans-serif;
	font-weight: 400;
	font-style: normal;
	  }
	  
h2{
	background-color: darkblue;
}

h1{
	font-style: italic;
}

footer{
	color: black;
}

.point-to-other-page {
	color: #0F76B0;
}

p{
	text-align: center;
	font-size: 25px;
}

main{
	height: 80vh;
}

