body{
	background:no-repeat url("background-about-project.jpg");
	background-size: 100%;
	margin: 0px;
}

main{
	height: 83vh;
}

.member-name {
	font-weight: bold;
}

.project-mems-text{
	border:0px;
}

#manutech-logo{
	border-radius: 50px;
}

main{
	color:white;
}

footer{
	color:white;
}

#site-title{
	color:white;
}