@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

body {
	background: no-repeat url("../img/background-about-project.jpg");
	background-size: 100%;
}

main {
	height: 83vh;
	font-family: Graduate
}

.welcome {
	display: flex;
	text-align: center;
	font-size: 65px;
	font-family: Graduate-serif;
	border: 2pt solid white;
}


.introduction-text {
	font-family: Graduate;
}
