body {
	background: no-repeat url("../img/background-acc-config.jpg");
	background-size: 100%;
}

main {
	height: 80vh;
}

#account-modifs-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.alter-acc-data {
	border-radius: 2rem;
	padding: 0.25rem;
	cursor: pointer;
}
