:root {
	--list-padding: 0.75rem;
	--list-margin: 1em;
	--form-part-padding: 0.5rem;
	--post-distance: 0.25em;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	color: white;
}

body {
	font-family: Arial;
}

p,
body,
header,
main,
footer,
h1,
h2,
h3 {
	padding: 0;
	margin: 0;
}

ol,
ul {
	list-style: none;
}

.main {
	border-top: 1px solid black;
}

.footer {
	padding: 1em;
	text-align: center;
}

.txt-color {
	color: var(--txt-color);
}

.no-border {
	border: none;
}

.point-to-other-page {
	color: black;
	text-decoration: underline;
}

.no-link {
	text-decoration: none;
}
