:root {
	--list-padding: 0.75rem;
	--list-margin: 1em;
	--form-part-padding: 0.5rem;
	--post-distance: 0.25em;
	--txt-color: #FFF;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: Arial;
}

p,
body,
header,
main,
footer,
h1,
h2,
h3 {
	padding: 0;
	margin: 0;
}

ol,
ul {
	list-style: none;
}

.main {
	border-top: 1px solid black;
}

.footer {
	padding: 1em;
	text-align: center;
}

.icon-site {
	height: 3em;
	width: 3em;
	border-radius: 3em;
}

.no-border {
	border: none;
}

.point-to-other-page {
	color: #7A848D;
	text-decoration: none;
}

.no-link {
	text-decoration: none;
}

.txt-color {
	color: var(--txt-color);
}
