/* obtained CSS code from: https://www.youtube.com/watch?v=zWw0npNDkVM  */
:root {
	--default-form-items-color: #1c1c1c1c;
	/*Change this later on*/
	--hover-btn-color: #FFFFFFFF;
	--txt-color: #FFF;
}

body {
    background-color: #1F2122;
}

#student-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1em 0;
	background-color: #ffffff96;
}

#submit-btn {
	width: 100%;
	border: solid black;
	padding: 1rem;
	border-radius: 20%;
	background-color: var(--default-form-items-color);
}

.main {
	width: 100%;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.form-part {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-bottom: 1.1rem;
}

.form-aggregate {
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-part input {
	margin: 0.6rem 0;
	padding: 0.8rem 1.2rem;
	border: none;
	border-radius: 15px;
	box-shadow: 2px 3px 2px var(--default-form-items-color);
}

.submit-btn-area button {
	cursor: pointer;
}

.submit-btn-area button:hover {
	color: var(--hover-btn-color);
	font-weight: 500;
}