@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
	--list-padding: 0.75rem;
	--list-margin: 1em;
	--form-part-padding: 0.5rem;
	--post-distance: 0.25em;
	--txt-color: #FFF;
}

*,
*::after, ::before{
	box-sizing: border-box;
	color: white;
}

p,
body,
header,
main,
footer,
h1,
h2,
h3,
ol,
ul {
	padding: 0;
	margin: 0;
}

ol,
ul {
	list-style: none;
}


.main {
	border-top: 1px solid black;
}

.footer {
	padding: 1em;
	text-align: center;
	color: white;
	height:83px;
}

.icon-site {
	height: 3em;
	width: 3em;
	border-radius: 3em;
}

.no-border {
	border: none;
}

.point-to-other-page {
	color: #CCAFAD;
}

.no-link {
	text-decoration: none;
}

.txt-center {
	text-align: center;
}

.txt-color {
	color: white;
	font-size: 15px;
	font-family: Graduate;
}
