@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');



body{
	background:no-repeat url("background-index.jpg");
	background-size: 100%;
	margin: 0px;
}

header{
	color: black;
	text-align: center;
}

div{
	color: black;
}

.div-header{
	margin: 10px;
	line-height: 250%;
	text-size-adjust: 30%;
	font-size: 25px;
	font-family: Graduate;
	border	: 5px solid white;
	padding-left: var(--section-header-padding);
}

#manutech-logo{
	border-radius: 50px;
}

#introduction{
	font-family: Graduate;
	font-weight: 400;
	font-style: normal;
	  }
	  
h2{
	background-color: darkblue;
}

h1{
	font-style: italic;
}

footer{
	color: black;
}

.point-to-other-page {
	color: #0F76B0;
}

main{
	height: 80vh;
}

