body {
	background: no-repeat url("../img/background-login.jpg");
	background-size: 100%;
}

#manutech-logo {
	justify-content: space-around;
}

.forgot-register {
	margin: 1em;
}

.txt-login{
	font-size: 15px;
	text-align: center; 
}