#student-name {
	font-size: 1rem;
}

#student-container-info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#container-btn-problem a {
	text-decoration: none;
}

.name-classroom {
	display: flex;
	justify-content: center;
	align-items: center;
}

.post {
	margin-bottom: var(--post-distance);
}

.post-header a {
	text-decoration: none;
	color: #4949EF;
}

.post-header:hover {
	color: blue;
}

.no-link-style {
	text-decoration: none;
}
