#student-name {
	font-size: 1rem;
}

#student-container-info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#container-btn-problem a {
	text-decoration: none;
}

.name-classroom {

	display: flex;
	justify-content: center;
	align-items: center;

}

.important-info { padding: 0.25rem; }

/* TODO: maybe move this .header config this to "general.css" */
.header {
	border-bottom: 1px solid black;
}
