#student-name {
	font-size: 1rem;
}

#student-container-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#container-btn-problem a {
	text-decoration: none;
}

#container-redirects {
	display: flex;
	justify-content: center;
	padding-top: 0.75rem;
}

.name-classroom {
	display: flex;
	justify-content: center;
	align-items: center;
}
