.div-header {
	padding-left: var(--section-header-padding);
}

body{
	margin:50px
	background-color= #2c7498;
}

header{
	color: #fff;
	text-align: center;
}
/*Width and height-largura e altura(lembrete p\ noah*/ 

#manutech-logo{
	height: 55px;
	width: 69px;
	border-radius: 50%;
	border: 5% solid /*escolher a cor da borda*/;
}

div{
	color: #fff;
	text-align: right;
}

footer{
	color: #fff;
}

h1{
	text-align: right;
	font-style: initial;
	font-size: 30px;
}

p{
	text-align: center;
	font-size: 25px;
}

a{
	color:blue
}

.members-container{
	text-align: center;
}

#introduction {

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	}
   

.point-to-other-page{
	color: #0F76B0;
}