.forgot-register {
	text-align: center;
	margin: 1em;
}

body{
    background-color: #1F2122;
}


h2{
    color: #fff;
}

label{
    color: #fff;
}

footer{
    color: #fff;
}

header{
    color: #fff;
}

nav{
    color: #fff;
}

p{
    color: #fff;
}

.point-to-other-page{
	color: blue;
}

button{
	color: #fff;
}